<div class="center jumbotron">
	<div class="text-center">
		<h1>こんな時何て言えばいい？</h1>
	</div>
</div>
<div class="text-center">
	<%= link_to 'アカウント登録', signup_path, class: 'mr-4 btn btn-primary' %>
	<a href="#" class="btn btn-primary">ログイン</a>
</div>
