<div class="center jumbotron">
	<div class="text-center">
		<h1>語彙全一</h1>
	</div>
</div>
<div class="text-center">
	<a href="#" class="mr-4 btn btn-primary">アカウント登録</a>
	<a href="#" class="btn btn-primary">ログイン</a>
</div>
